doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    style
      include ./style.css
    title Crypto Currency Tracker
    // import plugin script
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js')
    // bootstrap
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')

  body
    .graph
      h1 #{Conversion}
        h2 #{Time}
          h2 Current Value: #{valueToday}
        // line chart canvas element
        canvas#buyers(width='1200', height='800')
        script.
          // line chart data
          var buyerData = {
          labels : ["Year", "6 Months", "3 Months", "1 Month", "Day"],
          datasets : [
          {
          fontColor : "#07a374",
          fillColor : "#07a374",
          strokeColor : "#ACC26D",
          pointColor : "#fff",
          pointStrokeColor : "#9DB86D",
          data : [#{valueYear}, #{valueMonth6}, #{valueMonth3}, #{valueMonth}, #{valueToday}]
          }
          ]
          }
          // get line chart canvas
          var buyers = document.getElementById('buyers').getContext('2d');
          // draw line chart
          new Chart(buyers).Line(buyerData);
